.card {
    width: 80%;
    margin: 4rem auto;
}

.h1 {
    padding: 20px;
}

@media screen and (max-width:550px) {
    .card {
        width: auto;
        margin: 0 auto;
    }
    .h1 {
        font-size: 18px;
        padding: 20px;
        line-height: 1.6;
    }
}